@import "mixins.scss";

.chanel{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.4rem;
    padding: 1rem calc(3.75vw + 1rem);

    @include media (m){
        grid-template-columns: repeat(3, 1fr);
    }
}