@import "mixins.scss";

.slider{
    // padding: .75rem 4rem;
    padding: 1.25rem calc(3.75vw + .5rem);
    @include media (m){
        // overflow-y: hidden;
    }

    &.cover{
        padding: 6.2rem calc(3.75vw + .5rem) 1.5rem;  //1.5
    }

    &__h2{
        width: 13rem;
        height: 1.5rem;
        margin-bottom: 1rem;
        background-color: grey;
        opacity: .25;
        margin-left: .5rem;
        border-radius: .2em;
        padding:0 0 .5rem .5rem;
    }

    &__placeholder{
        border-radius: .2em;
        background-color: grey;
        opacity: .25;

        img{
            visibility: hidden;
        }
    }

    &__ul{
        width: 200%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        // gap: 1.2rem;

        transition: all 1s ease;
    }

    &__li{
        margin: 0 .5rem;
        transition: all .5s ease;

        &.inactive{
            opacity: .7;
        }
    }
}