@import "mixins.scss";

.card{
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: var(--c-shadow);

    transform: scale(1);
    transition: all .5s ease;

    cursor: pointer;

    &__logo{
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        // margin: 1.75rem 4rem;
        margin: 2.7% 6.7%;
        height: 59%;

        &.cover{
            margin: 0;
            height: 100%;
        }
    }

    &__hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        box-shadow: inset 0 0 0 3.5px #f9f9f900;

        @include d-flex(flex-start, flex-end);

        opacity: 1;
        transition: all .5s ease;
    }

    &__p{
        // margin: 1rem 4rem;
        margin: 0 6.7% 2.6%;
        font-size: 1.3rem;
        font-weight: 600;

        @include media(t){
            font-size: .95rem;
        }

        @include media(m){
            font-size: .65rem;
        }
        // padding-bottom: .75rem;
    }

    &.normal:hover{
        transform: scale(1.05);
        box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    }

    &:hover &__hover{
        box-shadow: inset 0 0 0 3.5px #fafafacc;
    }

    &.inactive{
        opacity: .75;
    }
}